{#-
  Custom Content Partial Override - mrxsierra.github.io
-#}
{% include "partials/tags.html" %}
{% include "partials/actions.html" %}
{% if "\u003ch1" not in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{{ page.content }}
{% include "partials/source-file.html" %}
{% if page and page.url != "" and page.file.src_path != "404.html" and not page.file.src_path.endswith(".txt") %}
  {% include "partials/social_share.html" %}
{% endif %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
